{% extends 'cars/base_cars.html' %}

{% block title %}
Add car 
{% endblock %}
{% block content %} 
<form  method = "post" >{% csrf_token %}>
{{ form.as_p }}
<input type="submit" value="Save" />

</form>
<!-- <b10>Update</b10>    -->
<!-- <form  method = "post" >{% csrf_token %}
    {{form.mark_car}}
    {{form.year_create}}
    {{form.number_car}}
    {{form.type_fuel_engine}}
    {{form.kilometrage_car}}
    {{form.photo_car}}
    <button type="submit" class="btn btn-success">Add</button> -->
    <span>{{error}}</span>
</form>




{% endblock content%}