
{% extends 'cars/base_cars.html' %}

{% block title %}
List cars 
{% endblock %}


{% block content %} 
<style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
    <a href="{% url 'car_insert' %}" class="button">
    <i class="fas fa-plus"></i>Add new car
    </a>
<table border="1" cellpadding="7" cellspacing="0" cols = 6>
     <thead class="border-bottom font-weight-bold">
        <tr>
            <td rowspan="1" width="10%"  bgcolor="#D3EDF6" align="center">Марка машини</td>>
            <td width="10%" valign="top" align="center">Рік виготовлення машини</td>
            <td width="15%" valign="top" align="center" align="center">Номерний знак машини</td>
            <td width="15%" valign="top" align="center">Тип двигуна</td>
            <td width="15%" valign="top" align="center">Кілометраж</td>
            <td width="15%" valign="top" align="center">Фото машини</td>
                </tr>
    </thead>
    {% for car in cars_list  %}
    <tr>
        <td>{{car.mark_car}}</td>
        <td>{{car.year_create}}</td>
        <td>{{car.number_car}}</td>
        <td>{{car.type_fuel_engine}}</td>
        <td>{{car.kilometrage_car}}</td>
        <td>{{car.photo_car}}</td></tr>
        {%endfor%}
    </tbody>
</table>
{% endblock content%}